/* .rmdb-searchbar {
  width: 100%;
  height: 105px;
  background: #fff;
  position: relative;
  padding: 25px 20px 0px 20px;
  box-sizing: border-box;
  color: #fff;
} */

.rmdb-searchbar{
  margin: 20px;
    border-radius: 20px;
    width: 96%;
    height: 105px;
    background: #fff;
    position: relative;
    padding: 25px 20px 20px 20px;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid #d3d3d3;
}

.rmdb-searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 55px;
  background:#fff;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  color: #fff;
}

.rmdb-fa-search {
  position: absolute;
  left: 17px;
  top: 7px;
  color: #000;
}

.rmdb-searchbar-input {
  font-family: 'Raleway', sans-serif;
    font-size: 28px;
    position: relative;
    margin: 7px 0 0 60px;
    border: 0;
    background: transparent;
    height: 40px;
    width: 90%;
    color: #000;
}

.rmdb-searchbar-input:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .rmdb-searchbar-input {
    margin: 8px 0 0 60px;
    font-size: 28px;
    color: #fff;
  }
}